<%- include('partials/head.ejs') %>
<body>
    <%- include("base.ejs",{a:3}) %>
    <div class="main-content" style="height: 900px;overflow-y: scroll;">

    <h1>Liste des absences</h1>
    <ul>
        <% absences.forEach(absence => { %>
            
                <!-- <p>ID: <%= absence.id_Abs %></p> -->
                <p>Motif: <%= absence.motif_abs %></p>
                <p>Date de départ: <%= formatDate(absence.date_Aller) %></p>
                <p>Date de retour: <%= formatDate(absence.date_Retour) %></p>
                <p>Nom: <%= absence.nom %></p>
                <p>Prénoms: <%= absence.prenoms %></p>
                <hr>
           
        <% }); %>
    </ul>
    </div>

    <script>
        function formatDate(dateString) {
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(dateString).toLocaleDateString('fr-FR', options);
        }
    </script>
</body>
</html>

