<%- include('partials/head.ejs') %>
	<style>
	body {
		overflow-y: scroll;
	}
	</style>

	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>

	<body>
		<%- include("base.ejs",{a:2}) %>
			<div class="main-content" style="height: 650px;overflow-y: scroll;">
				<table class="table table-bordered dataTable scrollable-table" id="dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info">
					<thead>
						<tr role="row">
							<th>Nom</th>
							<th>Prenoms</th>
							<th>Matricule</th>
							<th>Grade</th>
							<th>Date de prise de service</th>
							<th>Date de début</th>
							<th>Date de retraite</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% if (locals.data) { %>
							<% data.forEach((item, index) => { %>
								<tr class="table-row">
									<td>
										<%= item.nom %>
									</td>
									<td>
										<%= item.prenoms %>
									</td>
									<td>
										<%= item.Matricule %>
									</td>
									<td>
										<%= item.id_Grade %>
									</td>
									<td>
										<%= item.date_prise_service %>
									</td>
									<td>
										<%= item.date_debut %>
									</td>
									<td>
										<%= item.date_retraite %>
									</td>
									<td>
										<i class="fa-solid fa-eye" data-toggle="modal" data-target="#VoirModal<%= index %>" style="margin-right: 10px;"></i>
										<i class="fas fa-edit" data-toggle="modal" data-target="#editModal<%= index %>" style="margin-right: 10px;"></i>
										<i class="fas fa-trash suppElt" data-toggle="modal" data-target="#deleteModal<%= index %>" data-id="<%= item.id_Perso %>"></i>
										
										<!-- Bouton pour ajouter une absence -->
										<button class="btn btn-primary" data-toggle="modal" data-target="#ajouterAbsenceModal<%= index %>" style="margin-right: 10px;">Ajouter Absence</button>
										
										<!-- Bouton pour ajouter une formation -->
										<button class="btn btn-success" data-toggle="modal" data-target="#ajouterFormationModal<%= index %>">Ajouter Formation</button>
									</td>
								</tr>
								<div class="modal fade" id="ajouterAbsenceModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="ajouterAbsenceModalLabel<%= index %>" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="ajouterAbsenceModalLabel<%= index %>">Ajout Absence</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<!-- Formulaire d'absence -->
												<div id="formAbsence">
													<form method="POST" action="/ajoutAbsence">
														<input type="hidden" name="id_Perso" value="<%= item.id_Perso %>">
														<div class="mb-3">
															<label for="motifAbsence" class="form-label">Motif de l'absence</label>
															<input type="text" class="form-control" id="motif" name="motif" required>
														</div>
														<div class="row">
															<div class="col-6">
																<div class="mb-3">
																	<label for="dateDebutAbsence" class="form-label">Date de début</label>
																	<input type="date" class="form-control" id="dateDebutAbsence" name="dateDebutAbsence" required>
																</div>
															</div>
															<div class="col-6">
																<div class="mb-3">
																	<label for="dateFinAbsence" class="form-label">Date de fin</label>
																	<input type="date" class="form-control" id="dateFinAbsence" name="dateFinAbsence" required>
																</div>
															</div>
														</div>
														<div class="d-flex justify-content-center">
															<button type="submit" class="btn btn-primary">Valider</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>

								
<!-- Modal "Ajouter Formation" -->
<div class="modal fade" id="ajouterFormationModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="ajouterFormationModalLabel<%= index %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ajouterFormationModalLabel<%= index %>">Ajout Formation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'ajout de formation -->
                <form method="POST" action="/ajoutFormation">
                    <div class="card">
                        <div class="card-header">
                            Ajout formation
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="nomFormation" class="form-label">Nom de la formation</label>
                                <input type="text" class="form-control" id="nomFormation" name="nomFormation" required>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="debutFormation" class="form-label">Date de début</label>
                                        <input type="date" class="form-control" id="debutFormation" name="debutFormation" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="duree" class="form-label">Durée de la formation</label>
                                        <input type="text" class="form-control" id="duree" name="duree" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

								<!-- Modal pour chaque ligne -->
								<div class="modal fade" id="editModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Modifier les informations</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
											</div>
											<div class="modal-body">
												<form method="POST" action="/modifPerso/<%= item.id_Perso %>">
													<input type="hidden" name="id_Perso" value="<%= item.id_Perso %>">
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="nom" class="form-label">Nom</label>
																<input type="text" class="form-control" name="nom" id="nom" value="<%= item.nom %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="prenoms" class="form-label">Prenoms</label>
																<input type="text" class="form-control" name="prenoms" id="prenoms" value="<%= item.prenoms %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="Matricule" class="form-label">Matricule</label>
																<input type="text" class="form-control" name="Matricule" id="Matricule" value="<%= item.Matricule %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="Grade" class="form-label">Grade</label>
																<input type="text" class="form-control" name="id_Grade" id="id_Grade" value="<%= item.id_Grade %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="date_Naiss" class="form-label">Date de naissance</label>
																<input type="date" class="form-control" name="date_Naiss" id="date_Naiss" value="<%= item.date_Naiss %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="fonction" class="form-label">Fonction</label>
																<input type="text" class="form-control" name="fonction" id="fonction" value="<%= item.fonction %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="date_prise_service" class="form-label">Prise de service</label>
																<input type="date" class="form-control" name="date_prise_service" id="date_prise_service" value="<%= item.date_prise_service %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="date_debut" class="form-label">Date de début</label>
																<input type="date" class="form-control" name="date_debut" id="date_debut" value="<%= item.date_debut %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="date_retraite" class="form-label">Date de retraite</label>
																<input type="date" class="form-control" name="date_retraite" id="date_retraite" value="<%= item.date_retraite %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="lieu_habitat" class="form-label">Lieu d'habitation</label>
																<input type="text" class="form-control" name="lieu_habitat" id="lieu_habitat" value="<%= item.lieu_habitat %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="sit_matrimonial" class="form-label">Situation matrimoniale</label>
																<input type="text" class="form-control" name="sit_matrimonial" id="sit_matrimonial" value="<%= item.sit_matrimonial %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="nbre_Enfant" class="form-label">Nombre d'enfants</label>
																<input type="number" class="form-control" name="nbre_Enfant" id="nbre_Enfant" value="<%= item.nbre_Enfant %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="telephone" class="form-label">Téléphone</label>
																<input type="number" class="form-control" name="telephone" id="telephone" value="<%= item.telephone %>"> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																<label for="email_institut" class="form-label">Email institut</label>
																<input type="email" class="form-control" name="email_institut" id="email_institut" value="<%= item.email_institut %>"> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																<label for="email_perso" class="form-label">Email personnel</label>
																<input type="email" class="form-control" name="email_perso" id="email_perso" value="<%= item.email_perso %>"> </div>
														</div>
													</div>
													<div class="d-flex justify-content-center">
														<button type="submit" class="btn btn-primary">Valider</button>
													</div>
												</form>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div>
                                <!-- !-- popup pour voir tous les details   -->
                                <div class="modal fade" id="VoirModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">voir les informations</h5>
												
											</div>
											<div class="modal-body">
													<input type="hidden" name="id_Perso" value="<%= item.id_Perso %>">
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																 nom : <%= item.nom %>
                                                            </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
														Prenoms: <%= item.prenoms %>
                                                     </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Matricule: <%= item.Matricule %> 
                                                            </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
															Grade: <%= item.id_Grade %> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Date de naissance: <%= item.date_Naiss %>
                                                             </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																Fonction: <%= item.fonction %> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Prise de service: <%= item.date_prise_service %> </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																Date de début: <%= item.date_debut %>
                                                             </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Date de retraite: <%= item.date_retraite %>
                                                            </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																Lieu d'habitation: <%= item.lieu_habitat %>
                                                            </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Situation matrimoniale: <%= item.sit_matrimonial %>
                                                             </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																Nombre d'enfants: <%= item.nbre_Enfant %>
                                                             </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Téléphone: <%= item.telephone %>
                                                            </div>
														</div>
														<div class="col-md-6">
															<div class="mb-3">
																Email institutionnel: <%= item.email_institut %> </div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="mb-3">
																Email personnel: <%= item.email_perso %>
                                                             </div>
														</div>
													</div>
													<div class="d-flex justify-content-center">
														<button type="submit" class="btn btn-primary" data-dismiss="modal">ok</button>
													</div>
												
											</div>
                                            </div>
								<% }); %>
									<% } %>
					</tbody>
				</table>
			</div>
			<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
			<script>
			$(document).ready(function() {
				$('#dataTable').DataTable();
			});
			let suppressions = document.querySelectorAll(".suppElt");
			suppressions.forEach((suppression) => {
				suppression.addEventListener("click", (e) => {
					console.log(suppression.dataset.id);
					fetch(`http://127.0.0.1:8000/api/api/drh/personnels/supprimer/${suppression.dataset.id}`, {
						method: "DELETE",
					}).then(
						(response) => {
							if(response.ok) {
								
								location.reload();
							} else {
							
								console.error('Erreur lors de la suppression');
							}
						});
				});
			});
			

    // function afficherFormulaire(type) {
    //     // Cacher tous les formulaires
    //     document.getElementById('formAbsence').style.display = 'none';
    //     document.getElementById('formFormation').style.display = 'none';

    //     // Afficher le formulaire correspondant à l'option sélectionnée
    //     if (type === 'absence') {
    //         document.getElementById('formAbsence').style.display = 'block';
    //     } else if (type === 'formation') {
    //         document.getElementById('formFormation').style.display = 'block';
    //     }
    // }
	// Fonction pour afficher le formulaire correspondant
	document.addEventListener("DOMContentLoaded", function() {
    // Récupérer tous les icônes d'ajout d'absence
    var icons = document.querySelectorAll('.fa-circle-plus');

    // Ajouter un gestionnaire d'événement de clic à chaque icône
    icons.forEach(function(icon) {
        icon.addEventListener('click', function() {
            var id = icon.id.split('_')[1]; // Récupérer l'ID unique à partir de l'ID de l'icône
            afficherFormulaire('absence', id); // Afficher le formulaire d'absence correspondant
        });
    });
});


			</script>
	</body>

	</html>

    